#MainContent{
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.75)), url(../assets/jumbotron1.jpg) no-repeat;
    height: 70%;
    background-size: cover;
}

#Intro{
    width: 40%;
}

#Intro h1{
    color: whitesmoke;
}

#HeaderText{
    padding-top: 5%;
}

#HeaderButtons{
    padding-top: 5%;
}

#Services{
    height: 80%;
}

.section-header{
     padding: 5% 0 ;
     text-align: center;
}

#Services p.h2{
    color: #3f45fc;
    align-self: center;
    padding-top:5%;
}

#SignUp{
    height: 60%;
    background: #F9F9F9;
}


