/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.contentServicios {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}